$salesforce-blue: #0D9DDA;
$blue-1: #032D60;
$blue-2: #0B5CAB;
$blue-3: #0176D3;
$blue-4: #90D0FE;
$blue-5: #CFE9FE;
$blue-6: #EAF5FE;

$api: #d83a00;
$open-source: #e4a201;
$demo: #8a033e;
$in-the-media: #396547;
$trailhead: #321d71;
$model-card: #dd7a01;
$publication: #0b827c;
$blog: $blue-3;
$project: $salesforce-blue;
$event: $blue-2;

$ai-for-society: #e4a201;
$fundamental-ai-research: #def1ff;
$ai-for-enterprise: #481a54;

$commitments-1: #e4a201;
$commitments-2: $salesforce-blue;
$commitments-3: #0b827c;
$commitments-4: #481a54;
$commitments-5: #8a033e;
$commitments-6: $blue-3;
$commitments-7: #d83a00;
